* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-modal {
  width: 250px !important;
}

.react-multi-carousel-track {
  gap: 20px;
}
.product-card {
  position: relative;
  overflow: hidden; 
  transition: background-color 0.5s ease; 

  .hover-button {
    opacity: 0;
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, top 0.3s ease;
    height: max-content;
    border-radius: 5px;
  }
}

.product-card:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  .hover-button {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.product-card:hover .hover-button:hover {
  top: 50%;
  transform: translate(-50%, -50%);
}